<!doctype html>
<html lang="vi">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

	<title>admin</title>
	<link rel="stylesheet" href="/stylesheets/admin.css">
</head>
<body class="main">
	<div class="container" >
		<div class="header bg-dark" width="device-width">
			<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
				<!-- Brand -->
				<a class="navbar-brand" href="#"><img src="/images/logo.png" class="logo" style="height: 7vh;"></a>

				<!-- Toggler/collapsibe Button -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- Navbar links -->
				<div class="collapse navbar-collapse" id="collapsibleNavbar">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="#">Danh mục sản phẩm</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/admin/addProduct">Thêm sản phẩm</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Quản lý kho</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="body">
			{{{body}}}
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>