<h2 class="card-title text-center title">Thêm sản phẩm</h2>
      <hr>
      <!-- form them hang -->
      <form class="form-add needs-validation" ovalidate>
        <div class="row">
          <div class="col-6">
            <div class="p-0 mt-2">
              <label for="name" class="form-label"><strong>Tên sản phẩm</strong></label>
              <input type="text" class="form-control" placeholder="Nhập tên" id="name" name="name" required>
            </div>
          </div>
          <div class="col">
            <div class="p-0 mt-2">

              <label for="upload" class="form-label"><strong>Hình sản phẩm</strong></label><br>
              <input type="file" class="form-control-file" id="upload" multiple="" onchange="loadFile(event)" accept="image/x-png,image/gif,image/jpeg" name="upload" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="mt-2">
              <label for="price" class="form-label"><strong>Giá sản phẩm</strong></label>
              <input type="text" class="form-control" placeholder="Nhập giá (VNĐ/1sp)" id="price" name="price" required>
            </div>
            <div class="mt-2">
              <label for="amount" class="form-label"><strong>Số lượng</strong></label>
              <input type="number" class="form-control" placeholder="Nhập số lượng" id="amount" name="amount" required>
            </div>
            <div class="mt-2">
              <label for="type" class="form-label"><strong>Loại</strong></label>
              <select id="type" class="form-control" name="type" required>
               <option selected disabled value="">Chọn...</option>
               <option value="gundam">gundam</option>
               <option value="toys">toys</option>
               <option value="game">game</option>
             </select>
           </div>
        </div>
        <div class="mt-2">
          <label for="descript" class="form-label"><STRONG>Mô tả</STRONG></label>
          <textarea class="form-control" placeholder="Ghi mô tả sản phẩm" id="descript" name="descript" style="height: 150px"></textarea>

        </div>
        <div class="p-0 mt-5 text-center">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </form>
