<h2 class="card-title text-center title">Thêm sản phẩm</h2>
<hr>
<!-- form them hang -->
<form id="upload-form" class="form-add needs-validation" method="POST" enctype="multipart/form-data" ovalidate>
  <div class="row">
    <div class="col-6">
      <div class="p-0 mt-2">
        <label for="name" class="form-label"><strong>Tên sản phẩm</strong></label>
        <input type="text" class="form-control" placeholder="Nhập tên" id="name" name="name" required>
      </div>
    </div>
    <div class="col">
      <div class="p-0 mt-2">

        <label for="upload" class="form-label"><strong>Hình sản phẩm</strong></label><br>
        <input type="file" class="form-control-file" id="upload" multiple="" accept="image/x-png,image/gif,image/jpeg" name="upload" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mt-2">
      <label for="price" class="form-label"><strong>Giá sản phẩm</strong></label>
      <input type="text" class="form-control" placeholder="Nhập giá (VNĐ/1sp)" id="price" name="price" required>
    </div>
    <div class="mt-2">
      <label for="amount" class="form-label"><strong>Số lượng</strong></label>
      <input type="number" class="form-control" placeholder="Nhập số lượng" id="amount" name="amount" required>
    </div>
    <div class="mt-2">
      <label for="type" class="form-label"><strong>Loại</strong></label>
      <select id="type" class="form-control" name="type" required>
       <option selected disabled value="">Chọn...</option>
       {{#each productType}}
       <option value={{this}}>{{this}}</option>
       {{/each}}
     </select>
   </div>
 </div>
 <div class="mt-2">
  <label for="descript" class="form-label"><STRONG>Mô tả</STRONG></label>
  <textarea class="form-control" placeholder="Ghi mô tả sản phẩm" id="descript" name="descript" style="height: 150px"></textarea>

</div>
<div class="p-0 mt-5 text-center">
  <button type="submit" class="btn btn-primary">Sign in</button>
</div>
</form>

<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Thông báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="notif">
      </div>
      <div class="modal-footer">
        <button type="button" id="closed" class="btn btn-secondary" data-bs-dismiss="modal" disabled>
          <span id="spinner" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          <span id="button-closed"> 
          </span>
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }
  $("#upload-form").submit(function(e) {
    e.preventDefault();
    $("#Modal").modal("show");
    $("#spinner").show();
    $("#closed").prop("disabled", true);
    $("#notif").text("Loading...");
    $("#button-closed").text("Loading...");
    $.ajax({
      url: "/admin/addProduct",
      type: "POST",
      data: new FormData(this),
      contentType: false,
      cache: false,
      processData:false,
      success: async function(data){

        console.log(data);
        await sleep(2000);
        $("#spinner").hide();
        $("#closed").prop("disabled", false);
        $("#button-closed").text("Đóng");
        if(data.state =="success"){
          $("#notif").text("Đã thêm sản phẩm thành công");
        }
        else{
          $("#notif").text("...");
        }
      }
    });
  });

</script>
