


#header {
    position: fixed;
    z-index: 2;
}
#header img {
    max-height: 50px;
}

#header .nav-item:hover {
    background-color: red;
}

#header .navbar-brand {
    margin: 0;
    padding: 0;
}

#header a {
    color: white;
    line-height: 46px;
    padding: 0px 24px;
}

/* #header .navbar-nav .nav-item {
    margin: 0 50px;
}  */

#header .dropdown-menu li > a {
    color: black;
}


#content {
    padding-top: 80px;
    padding-bottom: 50px;
    z-index: -1;
    
}

#slider button{
    z-index: 0;
}

#slider .button123 {
     z-index: 1;
}


#content .title-list-product a{
    text-transform: uppercase;
    color: black;
    
}

#content .title-list-product a:hover {
    color: red;
}

#content .list-product a {
    white-space: nowrap;
}

.list-product img {
    max-width: 100%;
    height: auto;
}

.list-product a {
    text-decoration: none;
    color: black;
}

#footer {
    background-color: blue;
}

#footer .container li {
    color: white;
}

#footer .container li a {
    text-decoration: none;
    color: white;
}



#header .search-btn {
    
}

#header .ti-search {
   
    color: white;
    
}

#header .user-btn {
 
}

#header .ti-user {
    
    color: white;
}

#header .cart-btn {
    
}

#header .ti-shopping-cart {
   
    color: white;
}